project_id       = "careermake-prod"
region           = "us-west1"
backend_image    = "us-west1-docker.pkg.dev/careermake-prod/ai-career-copilot-prod-backend/backend:latest"
frontend_url     = "https://careermake.ai"
app_from_email   = "noreply@careermake.ai"
app_notify_email = "support@careermake.ai"
